@import "../2-tools/bemify.scss";
@import "../2-tools/utils.scss";

@include block('about-us') {
    border: solid 1px;
    padding: 0 10px;
    color: $dark-purple;
    position: relative;
    background: $super-light-purple;
    @include border-radius(4px);
    @include element('title') {
        color: #000;
        font-size: 16px;
    }
    @include element('description') {
        color: #000;
        font-size: 12px;
    }
}