@import "../2-tools/bemify.scss";
@import "../2-tools/utils.scss";

@include block('event-box'){
    border: 1px solid $intense-red;
    padding: 8px 0;
    background-color: $white;
    margin-bottom: 10px;
    @include transition(background-color 0.5s ease);
    
    &:hover{
        background-color: $red;
    }
    @include element('title'){
        margin-top: 0;
        text-align: center;
        color: $text-gray;
    }
    @include element('control'){
        cursor: pointer;
        font-size: 25px;
        &:hover {
            color: white;
        }
    }
    @include element('info'){
        width: 20%;
        float: left;
        cursor:pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include modifier('detail'){
            width: 25%;
        }
        @include modifier('pointer'){
            cursor: pointer;
            @include transition(color 0.2s ease);
            &:hover{
                color: white;
            }
        }
        @include element('icon'){
            font-size: 34px;
            width: 100%;
            text-align: center;
            color: $intense-red;
            &:hover{
                color: white;
            }
        }
        @include element('data'){
            text-align: center;
            color: $text-gray;
        }
    }
}