@import "../2-tools/bemify.scss";

@include block('login-box'){
    position: relative;
    background-color: $light-gray;
    padding: 10px;
    @include element('nav'){
        margin: 10px;
    }
    @include element('field'){
        margin: 9px 0;
        height: 45px;
    }
    @include element('button'){
        margin: 10px 0;
    }
}