.calendar-background {
    background-image: url("../img/calendar-background.jpg");
    height: 70%;
    width: 100%;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}